binaries
**/bin
**/bin-test
**/.pmd
extAnnotations
libDwg
extDwg
extGeoprocessingExtensions
extGeoProcessing
extWCS
libGPE
libGPE-GML
libGPE-KML
libGPE-XML
libRemoteServices
extWFS2
extAddEventTheme
extExpressionField
extGeoreferencing
extGPE-gvSIG
extHelp
extI18n
extSDE
extTableExport
extTableImport