<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="es.icarto.gvsig.commons"/>
	<depends plugin-name="es.udc.cartolab.gvsig.navtable"/>
	<depends plugin-name="es.icarto.gvsig.navtableforms"/>
	<depends plugin-name="es.udc.cartolab.gvsig.users"/>
	<depends plugin-name="es.udc.cartolab.gvsig.elle"/>
	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="es.icarto.gvsig.siga.SIGAConfigExtension" active="true">
		</extension>

		<extension class-name="es.icarto.gvsig.siga.OpenStreetViewExtension" active="true">
			<menu text="SIGA" position="30949" is_separator="true"/>
			<menu text="SIGA/Street View" icon="open-street-view" position="30950"/>
			<tool-bar name="SIGA_Tools" position="75">
				<action-tool icon="open-street-view" position="4" tooltip="Abrir Street View" />
			</tool-bar>
		</extension>

		<extension class-name="es.icarto.gvsig.siga.ImportIncidenciasExtension" active="true">
			<menu text="SIGA" position="30951" is_separator="true"/>
			<menu text="SIGA/import-incidencias" icon="import-incidencias" position="30952"/>
			<tool-bar name="SIGA_Tools" position="75">
				<action-tool icon="import-incidencias" position="5" tooltip="import-incidencias" />
			</tool-bar>
		</extension>

		<extension
            class-name="es.udc.cartolab.gvsig.elle.SigaLoadMapExtension" active="true" description="Load map">
            <menu action-command="LoadMap" icon="load-map" text="data_base_menu/Load_map" position="20100"/>
            <tool-bar name="ELLE" position="30">
                <action-tool name="load-map" action-command="LoadMap" icon="load-map" tooltip="Load_map" position="1"/>
            </tool-bar>
        </extension>
        
                <extension
            class-name="es.udc.cartolab.gvsig.elle.SigaSaveMapExtension" active="true">
            <menu text="data_base_menu/save_map"
            	icon="save-map"
                position="20200"/>
            <tool-bar name="ELLE" position="30">
                <action-tool icon="save-map" tooltip="save_map" position="2" name="save-map" />
            </tool-bar>
        </extension>
        

        <extension class-name="es.icarto.gvsig.siga.ConstantReloadExtension" active="true">
			<menu text="data_base_menu/es.icarto.gvsig.siga.ConstantReloadExtension.menu" icon="es.icarto.gvsig.siga.constantreloadextension"  position="20700"/>
			<tool-bar name="ELLE" position="30">
                <action-tool icon="es.icarto.gvsig.siga.constantreloadextension" tooltip="es.icarto.gvsig.siga.ConstantReloadExtension.tooltip" position="5"/>
            </tool-bar>
		</extension>


	</extensions>
</plugin-config>
