<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="es.udc.cartolab.gvsig.navtable"/>
	<depends plugin-name="es.udc.cartolab.gvsig.users"/>
	<depends plugin-name="es.icarto.gvsig.audasacommons"/>

	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="es.icarto.gvsig.extgia.FormLauncherExtension" description="form_launcher" active="true">
		<menu text="SIGA" position="30398" is_separator="true"/>
		<menu text="SIGA/Inventario/Elementos/Áreas Descanso" action-command="Areas_Descanso" position="30399"/>
		<menu text="SIGA/Inventario/Elementos/Áreas Servicio" action-command="Areas_Servicio" position="30400"/>
		<menu text="SIGA/Inventario/Elementos/Barrera Rígida" action-command="Barrera_Rigida" position="30401"/>
		<menu text="SIGA/Inventario/Elementos/Enlaces" action-command="Enlaces" position="30402"/>
		<menu text="SIGA/Inventario/Elementos/Isletas" action-command="Isletas" position="30403"/>
		<menu text="SIGA/Inventario/Elementos/Juntas" action-command="Juntas" position="30404"/>
		<menu text="SIGA/Inventario/Elementos/Pasos Mediana" action-command="Pasos_Mediana" position="30405"/>
		<menu text="SIGA/Inventario/Elementos/Señalización Vertical" action-command="Senhalizacion_Vertical" position="30406"/>
		<menu text="SIGA/Inventario/Elementos/Taludes" action-command="Taludes" position="30407"/>
		</extension>

		<extension class-name="es.icarto.gvsig.extgia.ConsultasExtension" description="consultas" active="true">
		<menu text="SIGA" position="30408" is_separator="true"/>
		<menu text="SIGA/Inventario/Consultas" action-command="Consultas" position="30409"/>
		</extension>
	</extensions>
</plugin-config>
