<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="es.udc.cartolab.gvsig.navtable"/>
	<depends plugin-name="es.udc.cartolab.gvsig.users"/>
	<depends plugin-name="es.icarto.gvsig.extgex"/>

	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="es.icarto.gvsig.extgia.FormLauncherExtension" description="form_launcher" active="true">

		<menu text="Inventario/Taludes" action-command="taludes" position="36000"/>


<!--			<tool-bar name="extGIA">
				<action-tool icon="extgia-openform" tooltip="form_launcher"
					action-command="form_launcher" />
			</tool-bar>
-->
		</extension>
	</extensions>
</plugin-config>
