<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="es.udc.cartolab.gvsig.navtable"/>
	<depends plugin-name="es.udc.cartolab.gvsig.users"/>
	<depends plugin-name="es.icarto.gvsig.audasacommons"/>

	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="es.icarto.gvsig.extgia.FormLauncherExtension" description="form_launcher" active="true">
			<menu text="SIGA" position="30398" is_separator="true"/>
			<menu text="SIGA/Elementos Inventario/Áreas Descanso" action-command="Areas_Descanso" position="30399"/>
			<menu text="SIGA/Elementos Inventario/Áreas Peaje" action-command="Areas_Peaje" position="30400"/>
			<menu text="SIGA/Elementos Inventario/Áreas Servicio" action-command="Areas_Servicio" position="30401"/>
			<menu text="SIGA/Elementos Inventario/Barrera Rígida" action-command="Barrera_Rigida" position="30402"/>
			<menu text="SIGA/Elementos Inventario/Enlaces" action-command="Enlaces" position="30403"/>
			<menu text="SIGA/Elementos Inventario/Firme" action-command="Firme" position="30404"/>
			<menu text="SIGA/Elementos Inventario/Isletas" action-command="Isletas" position="30405"/>
			<menu text="SIGA/Elementos Inventario/Juntas" action-command="Juntas" position="30406"/>
			<menu text="SIGA/Elementos Inventario/Muros" action-command="Muros" position="30407"/>
			<menu text="SIGA/Elementos Inventario/Obras Paso" action-command="Obras_Paso" position="30408"/>
			<menu text="SIGA/Elementos Inventario/Obras Desagüe" action-command="Obras_Desague" position="30409"/>
			<menu text="SIGA/Elementos Inventario/Pasos Mediana" action-command="Pasos_Mediana" position="304010"/>
			<menu text="SIGA/Elementos Inventario/Señalización Vertical" action-command="Senhalizacion_Vertical" position="30411"/>
			<menu text="SIGA/Elementos Inventario/Taludes" action-command="Taludes" position="30412"/>
			<menu text="SIGA/Elementos Inventario/Valla Cierre" action-command="Valla_Cierre" position="30413"/>
		</extension>
		
		<extension class-name="es.icarto.gvsig.extgia.ToolBarFormLauncherExtension" description="toolbar_form_launcher" active="true">
			<tool-bar name="GIA" position="73">
				<action-tool icon="extgia-openform" tooltip="Formulario Inventario" action-command="ToolBarFormExtension" position="2"/>
			</tool-bar>
		</extension>

		<extension class-name="es.icarto.gvsig.extgia.ConsultasExtension" description="consultas" active="true">
			<menu text="SIGA/Consultas Inventario" action-command="Consultas" position="30411"/>
		</extension>
	</extensions>
</plugin-config>
