<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="es.udc.cartolab.gvsig.navtable"/>
	<depends plugin-name="es.icarto.gvsig.navtableforms"/>
	<depends plugin-name="es.udc.cartolab.gvsig.users"/>
	<depends plugin-name="es.icarto.gvsig.extgex"/>
	<depends plugin-name="es.icarto.gvsig.siga"/>
	<depends plugin-name="es.icarto.gvsig.commons"/>
	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="es.icarto.gvsig.extpm.FormPMExtension" active="true">
			<tool-bar name="pm" position="72">
				<action-tool icon="es.icarto.gvsig.extpm.formpmextension" tooltip="formpm" position="2"/>
			</tool-bar>
			<menu text="SIGA" position="30199" is_separator="true"/>
			<menu text="SIGA/formpm" icon="es.icarto.gvsig.extpm.formpmextension" position="30250"/>
		</extension>
	</extensions>
</plugin-config>
