<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="com.iver.cit.gvsig.cad"/>
	<depends plugin-name="es.udc.cartolab.gvsig.navtable"/>
	<depends plugin-name="es.udc.cartolab.gvsig.users"/>
	<depends plugin-name="es.icarto.gvsig.extgex"/>
	<depends plugin-name="es.icarto.gvsig.audasacommons"/>
	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="es.icarto.gvsig.extpm.FormPMExtension" description="FORMS_PANEL" active="true">
			<tool-bar name="Márgenes" position="72">
				<action-tool icon="images/pm_form.png" tooltip="Expediente de Policía de Márgenes" action-command="PMFileExtension" position="2"/>
			</tool-bar>
			<menu text="Policía Márgenes/Expediente PM" key="x" action-command="PMFileExtension" icon="images/pm_form.png" position="35050"/>
		</extension>
		<extension class-name="es.icarto.gvsig.extpm.CreateNewPMFileExtension" description="NEW_PM" active="true">
			<tool-bar name="Márgenes" position="72">
				<action-tool icon="images/new_pm.png" tooltip="Crear nueva Policía de Márgenes" action-command="_point" position="1"/>
			</tool-bar>
			<menu text="Policía Márgenes/Crear nuevo" key="x" action-command="_point" icon="images/new_pm.png" position="35000"/>
		</extension>
	</extensions>
</plugin-config>
