<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="com.iver.cit.gvsig.cad"/>
	<depends plugin-name="es.udc.cartolab.gvsig.users"/>
	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="es.udc.cartolab.gvsig.elle.ConstantSelectionExtension" description="Select Constants" active="true">
			<!-- <tool-bar name="NavTable">
				<action-tool icon="images/table_refresh.png" tooltip="navigation_table"
					action-command="NavTable" position="1"/>
			</tool-bar> -->
			<menu text="EIEL/selectConstants"
				action-command="SelectConstants"
				position="02"/> 
		</extension>
		<extension class-name="es.udc.cartolab.gvsig.elle.LoadMapExtension" description="Load map" active="true">
			<!-- <tool-bar name="NavTable">
				<action-tool icon="images/table_refresh.png" tooltip="navigation_table"
					action-command="NavTable" position="1"/>
			</tool-bar> -->
			<menu text="EIEL/Load_map"
				action-command="LoadMap"
				position="03"/> 
		</extension>
		<extension class-name="es.udc.cartolab.gvsig.elle.LoadAllLegendsExtension" description="Load_several_legends" active="true">
			<menu text="EIEL/load_legends"
				action-command="LOADLEGENDS"
				position="0900"/>
		</extension>
		<extension class-name="es.udc.cartolab.gvsig.elle.SaveAllLegendsExtension" description="Save_several_legends" active="true">
			<!-- <tool-bar name="NavTable">
				<action-tool icon="images/table_refresh.png" tooltip="navigation_table"
					action-command="NavTable" position="1"/>
			</tool-bar> -->
			<menu text="EIEL/Save_legends/Leg_actives"
				action-command="ACTIVES"
				position="0910"/> 
			<menu text="EIEL/Save_legends/Leg_visibles"
				action-command="VISIBLES"
				position="0920"/>
			<menu text="EIEL/Save_legends/Leg_map_overview"
				action-command="MAPOVERVIEW"
				position="0930" />
			<menu text="EIEL/Save_legends/Leg_all"
				action-command="ALL"
				position="0940"/>
		</extension>
		<extension class-name="es.udc.cartolab.gvsig.elle.ZoomToConstantExtension"
			description="Extensión encargada de hacer zoom al nucleo seleccionado en las constantes."
			active="true">
			<menu text="Vista/navegacion/zoom_constant" icon="images/zoomnuc.png" position="4590"/>
			<tool-bar name="View_Tools_Zooms" position ="9">
				<action-tool icon="images/zoomnuc.png" action-command="ZOOM_PREV" tooltip="zoom_constant" position="1"/>
			</tool-bar>
		</extension>
	</extensions>
</plugin-config>